.logo {
  width: 123px;
  height: 90px;
}
@media screen and (max-width: 1360px) {
  .logo {
    width: 61px;
    height: 45px;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    width: 31px;
    height: 22px;
  }
}
.header {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1360px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 6px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
  }
}
