.tools{
    display: flex;
    align-items: flex-end;
}
.btnSearch{
    padding: 0;
    padding-right: 23px;
    background: inherit;
    border: none;
    cursor: pointer;
}

.listFlag{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms linear;
}
.listFlag.show{opacity: 1;
pointer-events: auto;}

.itemFlag {padding-bottom: 15px;}
.itemFlag:nth-child(1){padding-bottom: 31px;}

.iconArrow{
    width: 8px;
    height: 14px;
    margin-left: 13px;
}
.iconArrow.turn{transform: rotate(0.5turn);}

.containerFlags{ position: relative;
padding-left: 10px;}