.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 333px;
  height: 56px;
  margin-top: 31px;
  background-color: var(--color-bg-label);
}
@media screen and (max-width: 1360px) {
  .container {
    width: 275px;
    margin-top: 25px;
  }
}
.container:not(.largeContainer)::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 0px;
  width: 2px;
  height: 46px;
  background-color: var(--color-decor);
}
.largeContainer {
  width: 750px;
  height: 260px;
  margin-top: 60px;
}
.largeContainer.isReverse {
  right: 0px;
}
.largeContainer::after {
  content: '';
  position: absolute;
  right: 61px;
  top: 0px;
  width: 2px;
  height: 212px;
  background-color: var(--color-decor);
}
.largeContainer.isReverse::after {
  right: 670px;
}

.title {
  padding-left: 15px;
  color: var(--color-text-white);
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
}
@media screen and (max-width: 1360px) {
  .title {
    padding-left: 10px;
    color: var(--color-text-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
  }
}
.largeTitle {
  padding-left: 88px;
  font-size: 40px;
}
.largeTitle.isReverse {
  padding-left: 115px;
}

.description {
  color: var(--color-text-white);
}
.largeDescription {
  margin-top: 25px;
  padding-left: 90px;
  padding-right: 115px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.largeDescription.isReverse {
  padding-left: 115px;
  padding-right: 90px;
}
